header {
    background-color: $primary-color;
    padding: 0.6% 0%;
    width: 100%;
    height: 100px;
}

#nav-header {
    @include flexContainer(row, nowrap, space-evenly);

    
    #nav-logo{
        margin-top: 3px;

        img {
            cursor: pointer;
        }

        #nav-maps {
            @include flexContainer(row, nowrap, space-around);
            margin-top: 3%;
            padding: 4%;
            cursor: pointer;
            p {
                font-size: 11px;
                color: rgba(0, 0, 0, 0.5);
            }

            #street {
                font-size: 13px;
                color: #333333;
            }


            &:hover{
                margin-top: 2px;
                border: 1px solid #eadd61;
                border-radius: 6px;
            }
        }
    }


    #nav-menu {
        width: 45%;
        @include flexContainer(column, nowrap, space-between);

        #nav-menu-input{
            @include flexContainer();
            width: 100%;
            height: 39px;
    
            input {
                flex-grow: 10;
                padding: 2%;
                border: none;
                border-radius: 2px 0 0 2px;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                outline: 0;
                font-size: 15px;
                color: #333333;

                &::placeholder{
                    color: #d1d1d1;
                    font-weight: 300;
                }
            }
    
            button {
                flex-grow: 1;
                cursor: pointer;
                background-color: #ffffff;
                border: none;
                border-radius: 0 2px 2px 0;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                outline: 0;
            }
        }

        #nav-menu-list{
            ul{
                @include flexContainer();
                list-style: none;
                padding-bottom: 1%;
                font-size: 13px;
                a{
                    margin-right: 20px;
                    color: rgba(51, 51, 51, 0.6);

                    &:hover{
                        color: rgba(51, 51, 51, 0.9);
                    }
                }

                #categorias{
                    @include flexContainer(row, nowrap,flex-start, center);

                    &::after{
                        content: '';
                        @include iconArrowDown;
                    }
                }
            }
        }
    }


    #nav-menu-user{
        @include flexContainer(column, nowrap, space-between);        
        img, i {
            cursor: pointer;
            max-width: 340px;
        }
        
        #nav-menu-user-list{
            @include flexContainer(row, nowrap, space-around, center);
            padding-bottom: 1%;
            a{
                font-size: 13px;
            }
            i{
                display: flex;
            }


            i, a{
                color:#333;

                &:hover{
                    color: #000;
                }
            }


            #usuario{
                @include flexContainer(row, nowrap, flex-start, center);

                #user{
                    border-radius: 50%;
                    max-width: 20px;
                    margin-right: 4px;
                }
            }

            #favoritos::after, #userName::after{
                content: '';
                @include iconArrowDown;
                margin-bottom: 2px;
                border-color: rgba(0, 0, 0, 0.3);
            }

        }

    }
    
}