@import '../../styles/sass/_mixins';
@import '../../styles/sass/_variables';


    .row-container{
        height: 500px;
        max-width: 1220px;
        margin: 0% auto;
        padding: 30px 1%;
        // background-color: red;
    }

    .row-container-small{
        height: 420px;
        max-width: 1220px;
        margin: 0% auto;
        padding: 30px 1%;
    }


        .row-header{
            @include flexContainer(row, nowrap, flex-start, center);
            margin-bottom: 2%;
            h2{
                font-weight: 300;
                color: $secondary-black;
            }
            a{
                margin-top: 4px;
                margin-left: 10px;
                font-size: 14px;
                font-weight: 400;
                @include hoverEffectLink();
            }
        }
        
        .row-body{
            @include flexContainer(column, nowrap, space-between);
    
            &:hover{
                .cards-button{
                    display: block;
                }
            }
        
        }
    